<div>
{% for desc in include.description %}
    {{ desc | markdownify }}
{% endfor %}
</div>

<div class="problem-info">
    <div>
    {% for ex in include.example %}
        {% if forloop.length == 1 %}
            Example
        {% elsif forloop.length > 1 %}
            Example {{ forloop.index }}
        {% endif %}
        <ul>
            <li>Input: {{ ex.input | markdownify | remove: '<p>' | remove: '</p>' }}</li>
            <li>Output: {{ ex.output | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        </ul>
    {% endfor %}
    </div>

    Note
    <ul>
    {% for note in include.note %}
        <li>{{ note | markdownify | remove: '<p>' | remove: '</p>' }}</li>
    {% endfor %}
    </ul>
</div>

<div style="text-align: right">(Source: <a href="{{ include.url }}"> {{ include.link }} </a>)</div>