<div>
{% for desc in include.description %}
    {{ desc | markdownify }}
{% endfor %}
</div>

<div class="problem-info">
    {% if include.example != null %}
        <div>
        {% for ex in include.example %}
            {% if forloop.length == 1 %}
                Example
            {% elsif forloop.length > 1 %}
                Example {{ forloop.index }}
            {% endif %}

            {% if ex.input == null %}
            <ul>
                <li>See source site</li>
            </ul>
            {% else %}
            <ul>
                <li>Input: {{ ex.input | markdownify | remove: '<p>' | remove: '</p>' }}</li>
                <li>Output: {{ ex.output | markdownify | remove: '<p>' | remove: '</p>' }}</li>
                {% if ex.explanation != null %}
                <li>Explanation: {{ ex.explanation | markdownify | remove: '<p>' | remove: '</p>' }}</li>
                {% endif %}
            </ul>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    {% if include.note != null %}
        Note
        <ul>
        {% for note in include.note %}
            <li>{{ note | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

<div style="text-align: right; margin-bottom: 2em;" >(Source: <a href="{{ include.url }}"> {{ include.link }} </a>)</div>