--- 
layout: default 
title: Algorithm 
---

{% if page.url == '/algorithms/' %}
<div class="message" style="border: solid; border-color: #999999; border-width: 2pt; color: black; margin-bottom: 2.5em;">
  These posts below are my history of challenges to algorithm problems!
</div>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {% assign desc_var = post.description %}
    {% assign example_var = post.example %}
    {% assign note_var = post.note %}
    {% assign link_var = post.link %}
    {% assign url_var = post.link_url %}

    {% include problem.html description=desc_var example=example_var note=note_var link=link_var url=url_var %}

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/algorithms/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %} 
  
  {% if paginator.previous_page %} 
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/algorithms/">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/algorithms/page{{paginator.previous_page}}">Newer</a>
    {% endif %} 
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
